OPClient/Service References/OrderProcessingService/OPService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OPService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:30079/OPService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:30079/OPService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:30079/OPService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrder_getCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:getCustomer" />
  </wsdl:message>
  <wsdl:message name="IOrder_getCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_Purchase_InputMessage">
    <wsdl:part name="parameters" element="tns:Purchase" />
  </wsdl:message>
  <wsdl:message name="IOrder_Purchase_OutputMessage">
    <wsdl:part name="parameters" element="tns:PurchaseResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_getOrderDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:getOrderDetails" />
  </wsdl:message>
  <wsdl:message name="IOrder_getOrderDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOrderDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_getCustomerOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:getCustomerOrders" />
  </wsdl:message>
  <wsdl:message name="IOrder_getCustomerOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCustomerOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_getProductIds_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductIds" />
  </wsdl:message>
  <wsdl:message name="IOrder_getProductIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductIdsResponse" />
  </wsdl:message>
  <wsdl:message name="IOrder_getProductDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductDetail" />
  </wsdl:message>
  <wsdl:message name="IOrder_getProductDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductDetailResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrder">
    <wsdl:operation name="getCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/getCustomer" message="tns:IOrder_getCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/getCustomerResponse" message="tns:IOrder_getCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Purchase">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/Purchase" message="tns:IOrder_Purchase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/PurchaseResponse" message="tns:IOrder_Purchase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getOrderDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/getOrderDetails" message="tns:IOrder_getOrderDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/getOrderDetailsResponse" message="tns:IOrder_getOrderDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCustomerOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/getCustomerOrders" message="tns:IOrder_getCustomerOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/getCustomerOrdersResponse" message="tns:IOrder_getCustomerOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductIds">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/getProductIds" message="tns:IOrder_getProductIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/getProductIdsResponse" message="tns:IOrder_getProductIds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrder/getProductDetail" message="tns:IOrder_getProductDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrder/getProductDetailResponse" message="tns:IOrder_getProductDetail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOrder" type="tns:IOrder">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCustomer">
      <soap:operation soapAction="http://tempuri.org/IOrder/getCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Purchase">
      <soap:operation soapAction="http://tempuri.org/IOrder/Purchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrderDetails">
      <soap:operation soapAction="http://tempuri.org/IOrder/getOrderDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomerOrders">
      <soap:operation soapAction="http://tempuri.org/IOrder/getCustomerOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductIds">
      <soap:operation soapAction="http://tempuri.org/IOrder/getProductIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductDetail">
      <soap:operation soapAction="http://tempuri.org/IOrder/getProductDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OPService">
    <wsdl:port name="BasicHttpBinding_IOrder" binding="tns:BasicHttpBinding_IOrder">
      <soap:address location="http://localhost:30079/OPService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>